@charset "utf-8";
/*------------------
Created:2015/07/22
author:xuxufei
email:xuxufei@2144.cn
website:
-----------------*/
html{-webkit-font-smoothing:antialiased}
body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,form,button,input,textarea,th,td{margin:0;padding:0}
body,button,input,select,textarea{font:14px \5FAE\8F6F\96C5\9ED1,arial}
body{color:#333;background: #fff;}
h1,h2,h3,h4,h5,h6{font-size:100%}
cite,em,var,i{font-style:normal}
form{display:inline}
small{font-size:12px}
ul,ol{list-style:none}
a{text-decoration:none;color:#333}
a:hover{text-decoration:underline;color:#ff5757}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
img{vertical-align:top;border:none 0;-ms-interpolation-mode:bicubic}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
input,button,select,textarea{outline:none}
textarea{resize:none}
.clearfix{*zoom:1}
.clearfix:after{content:'\20';display:block;height:0;clear:both}
.hidden{display:none}