@charset "utf-8";
/*------------------
Created:2015/12/24
author:xuxufei
email:xuxufei@2144.cn
website:
-----------------*/

// 主页中的新股模块样式文件

.new_stock_list{
	@extend %fr;
	width: 345px;
	@extend %oh;
	dl{
		@extend %tac;
		@extend %f12;
	}
	dt{
		background: $cgrey1;
		@include SingleLine(36px);
		@extend %c9;
	}
	dd{
		@include SingleLine(30px);

		&:nth-child(2n+1){
			background: $cgrey2;
		}
	}
	span{
		@extend %fl;
		width: 20%;
		@extend %oh;
	}
}