$height : 212px;

.stock_maps{
	height: $height;
	@extend %oh;
}

.sm_hd{
	@include Tabs(25%);
}

.sm_bd{
	height: $height - 36px;
	@extend %oh;
}

.smb_meta{
	height: 40px;
	line-height: 40px;
	@extend %oh;
	margin-left: 10px;
	@extend %f12;
	span{
		margin: 0 5px;
		@extend %fwb;
	}
}