$width		: 		370px;
$height 	: 		210px;

@mixin FocusSlider($prefix, $width:370px, $height:210px){
	@extend %oh;
	@extend %pr;
	border: solid 1px #e8e8e8;
	@extend %fl;
	&, .#{$prefix}_view{
		width: $width;
		height: $height;
	}
	ul{
		width: $width * 2;
		height: $height * 2;
	}
	li{
		@extend %fl;
		@extend %pr;
		h4{
			width: $width - 15 * 2;
			height: 30px;
			line-height: 30px;
			@extend %oh;
			@extend %pa;
			left: 0;
			bottom: 0;
			z-index: 8;
			@extend %cfff;
			@extend %f12;
			padding: 0 15px;
			@include background-opacity($cblack1, 0.5);
		}
	}
	.#{$prefix}_button{
		@extend %pa;
		right: 15px;
		bottom: 11px;
		z-index: 9;
		a{
			width: 14px;
			height: 8px;
			@extend %fl;
			@include background-opacity(#fff, 0.5);
			margin-left: 4px;
			_font-size: 0;
			_line-height: 0;
		}
		.cur{
			background: $cred;
			filter: '';
		}
	}
}

.focus_slider{
	@include FocusSlider(fs);
}